.cover{
    background-image: url(images/cover.jpg); padding:200pt 0pt; background-size: cover; background-position: center; background-attachment: fixed;
}
.cover-content{
    background: rgb(26, 26, 26); padding:200pt 0pt; background-size: cover; background-position: center;
}

.topbar{
    background: rgb(7, 7, 7); border-bottom: 1pt solid rgb(44, 44, 44);
}


@media (max-width: 640px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .cover{
        background-image: url(images/cover.jpg); padding:30pt 0pt; background-size: cover; background-position: center; background-attachment: fixed;
    }

    .cover-content{
        background: rgb(26, 26, 26); padding:90pt 0pt; background-size: cover; background-position: center;
    }
  }